Options +FollowSymLinks
RewriteEngine On

RewriteBase /hospital-management/
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

<Files .env>
    Order allow,deny
    Deny from all
</Files>

RewriteRule ^login$ views/index.php 
RewriteRule ^dashboard$ views/dashboard.php 
RewriteRule ^manage-profile$ views/manage-profile.php
RewriteRule ^blood-tests$ views/blood-tests.php
RewriteRule ^blood-test-patient$ views/blood-test-patient.php
RewriteRule ^404$ views/404.php



# MODELS LINK FOR AJAX
    RewriteRule ^dashboard-login$ models/login/ajax_login.php [L,QSA]
    RewriteRule ^logout$ models/login/logout.php
    RewriteRule ^change-password$ models/dashboard/ajax_change_password.php
    RewriteRule ^add-staff$ models/dashboard/ajax_add_staff.php
    RewriteRule ^new-blood-test-entry$ models/dashboard/ajax_new_blood_test.php
    RewriteRule ^update-blood-test-entry$ models/dashboard/ajax_update_blood_test.php
    RewriteRule ^edit-staff$ models/dashboard/ajax_edit_staff.php
    RewriteRule ^patient-entry$ models/dashboard/ajax_new_patient_entry.php
    RewriteRule ^update-patient-entry$ models/dashboard/ajax_update_patient_entry.php
    RewriteRule ^get-blood-tests-list$ models/dashboard/ajax_load_blood_tests.php
    RewriteRule ^get-blood-tests-list-by-test-name$ models/dashboard/ajax_load_searched_blood_test.php
    RewriteRule ^get-patient-blood-tests-list$ models/dashboard/ajax_load_patients_list.php
    RewriteRule ^get-patient-blood-tests-list-by-ticket$ models/dashboard/ajax_load_searched_patients_list.php


