Options +FollowSymLinks
RewriteEngine On


# RewriteBase /craftomania/
RewriteBase /hospital-management/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
<Files .env>
    Order allow,deny
    Deny from all
</Files>


RewriteRule ^login$ views/index.php 
RewriteRule ^dashboard$ views/dashboard.php 
RewriteRule ^manage-profile$ views/manage-profile.php

# MODELS LINK FOR AJAX
    RewriteRule ^dashboard-login$ models/login/ajax_login.php
    RewriteRule ^logout$ models/login/logout.php
    RewriteRule ^change-password$ models/dashboard/ajax_change_password.php
    RewriteRule ^add-staff$ models/dashboard/ajax_add_staff.php
    RewriteRule ^edit-staff$ models/dashboard/ajax_edit_staff.php
