.searchInputSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  gap: 5px;
}

.searchInputSection input {
  width: 200px;
}

.searchClearBtn {
  position: relative;
  left: -25px;
  cursor: pointer;
  visibility: hidden;
  color: #c2c2c2;
}
